:root {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(0, 0, 0);
    --font-color: rgb(0, 0, 0);
    --bg-color: rgb(255, 255, 255);
    --button-color: rgb(20, 86, 172);
    --button-color-hover: rgb(22, 67, 126);
    --heading-color: rgb(41, 41, 34);
    --box-shadow: 10px 10px rgb(39, 39, 39);
}

[data-theme="dark"] {
    --primary-color: rgb(136, 89, 212);
    --secondary-color: rgb(255, 255, 255);
    --third-color: rgb(0, 0, 0);
    --font-color: rgb(225, 225, 255);
    --bg-color: rgb(22, 22, 37);
    --button-color: rgb(136, 89, 212);
    --button-color-hover: rgb(92, 59, 145);
    --heading-color: rgb(34, 64, 146);
    --box-shadow: 10px 10px rgb(136, 89, 212);
}

.link-contact {
    color: rgb(255, 255, 255);
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

h1, h2, p.content-desc {
    color: var(--secondary-color);
}

h5 {
    color: var(--third-color);
}

.small-text {
    color: var(--secondary-color);
}

a {
    color: var(--third-color);
    text-decoration: none;
}

.copyright-text {
    color: var(--font-color);
    position: absolute;
}

.rounded-circle, .img-fluid{
    max-width: 150px; 
    padding: 15px;
}

.d-grip {
    margin-top: 30px;
}

.card {
    margin-top: 20px;
    box-shadow: var(--box-shadow);
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.1);
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}
  
.theme-switch input {
    display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: rgb(255, 255, 255);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: rgb(136, 89, 212);
}

input:checked + .slider:before {
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* CSS */
.button-18 {
    align-items: center;
    background-color: var(--button-color);
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    margin-top: 40px;
}

.button-18:hover, .button-18:focus { 
  background-color: var(--button-color-hover);
  color: #ffffff;
}

.button-18:active {
  background: var(--button-color-hover);
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}